<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <P>Title</P>
  <%= f.text_field :book %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Update Book' %>
  
  
  <%= link_to "Show", books_show_path(@book.id) %><p> | </p><%= link_to "Back", books_show_path(@book.id) %>

<% end %>